{% extends 'dashboard/main.html' %}

{% load static %}
{% load widget_tweaks %}
{% load custom_filters %} <!-- Load the custom filters -->

{% block content %}

{% include 'dashboard/sidebar.html' %}

<!-- Main wrapper -->
<div class="body-wrapper">

    {% include 'dashboard/header.html' %}

    <style>
        .table {
            border-radius: 10px;
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0;
        }

        .table th,
        .table td {
            border: 1px solid #dee2e6;
        }

        .table thead th:first-child {
            border-top-left-radius: 10px;
        }

        .table thead th:last-child {
            border-top-right-radius: 10px;
        }

        .table tbody tr:last-child td:first-child {
            border-bottom-left-radius: 10px;
        }

        .table tbody tr:last-child td:last-child {
            border-bottom-right-radius: 10px;
        }

        .toggle-btn {
            background-color: #932626;
            color: #ffffff;
            border-color: #932626;
            transition: all 0.3s ease-in-out;
        }

        .toggle-btn:hover {
            background-color: #ffffff;
            color: #932626;
            border-color: #932626;
        }
    </style>


    <div class="container-fluid">
        <div class="row mb-4 align-items-center">
            <div class="col-6">
                <h5 class="mt-2">Attendance Records</h5>
            </div>
            <div class="col-6 text-end">
                <form id="searchForm" class="form d-flex justify-content-end" method="GET">
                    <input type="date" class="form-control me-2" name="from_date" id="from_date" value="{{ from_date }}" onchange="this.form.submit()">
                    <input type="date" class="form-control" name="to_date" id="to_date" value="{{ to_date }}" onchange="this.form.submit()">
                </form>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Employee Number</th>
                        <th>Name</th>
                        <th>Department Name</th>
                        <th>Gender</th>
                        <th></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">No records found.</td>
                    </tr>
                </tbody>
            </table>
            {% include 'dashboard/pagination.html' with query_set=employees custom_range=custom_range %}
        </div>


    </div>

    {% include 'dashboard/footer.html' %}


    <div id="data-container"></div>
</div>

{% endblock content %}