{% extends 'home/main.html' %}

{% load static %}

{% block content %}

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section">

    <img src=" {% static 'theme_home/assets/img/hero-bg.jpg' %} " alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2>University of Indigenous Medicine</h2>
          <p>"Preserving Tradition, Advancing Indigenous Medicine."</p>
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="btn-get-started">Go to Dashboard</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn-get-started m-1">Login Now</a>
            {% endif %}

        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

</main>



{% endblock content %}