{% extends 'dashboard/main.html' %}

{% load static %}

{% block content %}

    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .delete-card {
            background: #fff;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 600px;
        }

        .delete-icon {
            font-size: 48px;
            color: #932626;
            margin-bottom: 10px;
        }

        .btn-cancel {
            background-color: #6c757d;
            color: white;
            border-radius: 5px;
        }

        .btn-delete {
            background-color: #932626;
            color: white;
            border-radius: 5px;
        }

        .btn-cancel:hover {
             color: #5a6268;
            border: 1px solid #5a6268;            
            background-color: #ffffff;
        }

        .btn-delete:hover {
            color: #932626;
            border: 1px solid #932626;            
            background-color: #ffffff;
        }
    </style>

<form method="POST">
{% csrf_token %}
    <div class="delete-card">
        <i class="fas fa-trash-alt delete-icon"></i>
        <h4 class="fw-bold">Confirm Deletion</h4>
        <p>Are you sure you want to delete this item? This action cannot be undone.</p>
        <div class="d-flex justify-content-between mt-3">
            <a href="javascript:window.history.back();" class="btn btn-cancel px-4">Cancel</a>

            <button class="btn btn-delete px-4">Delete</button>
        </div>
    </div>

</form>



{% endblock content %}