{% if query_set.has_other_pages %}

<style>
    .pagination-primary .page-link {
    border: 1px solid #932626 ;
    border-radius: 7px;
    background-color: #ffffff;
    border-color: #932626;
    color: #932626;
    font-weight: 500;
}

.pagination-primary .page-link:hover {
    border-radius: 7px;
    background-color: #7a1f1f;
    border-color: #7a1f1f;
    color: #fff;
}

.pagination-primary .active .page-link {
    border: 1px solid #932626 ;
    border-radius: 7px;
    background-color: #650d0d;
    border-color: #650d0d;
    color: #fff;
}

.pagination-primary .disabled .page-link {
    border: 1px solid #932626 ;
    border-radius: 7px;
    background-color: #ffffff;
    border-color: #b38b8b;
    color: #932626;
    opacity: 0.6;
}

</style>

<nav aria-label="Page navigation example">
    <ul class="pagination pagination-primary  justify-content-end">

        {% if query_set.has_previous %}

        <li class="page-item m-1">
            <a class="page-link" href="?page={{query_set.previous_page_number}}"
                data-page="{{query_set.previous_page_number}}">Prev</a>
        </li>

        {% else %}

        <li class="page-item disabled m-1">
            <a class="page-link" href="" tabindex="-1" aria-disabled="true">Prev</a>
        </li>

        {% endif %}

        {% for page in custom_range %}

        {% if page == query_set.number %}

        <li class="page-item m-1 active"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a>
        </li>

        {% else %}

        <li class="page-item m-1"><a class="page-link" href="?page={{page}}" data-page="{{page}}">{{page}}</a></li>

        {% endif %}

        {% endfor %}

        {% if query_set.has_next %}

        <li class="page-item m-1">
            <a class="page-link" href="?page={{query_set.next_page_number}}"
                data-page="{{query_set.next_page_number}}">Next</a>
        </li>

        {% else %}

        <li class="page-item disabled m-1">
            <a class="page-link" href="" tabindex="-1" aria-disabled="true">Next</a>
        </li>

        {% endif %}
    </ul>
</nav>

{% endif %}