altgraph==0.17.4
asgiref==3.8.1
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cssselect2==0.8.0
Django==5.1.7
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
dotenv==0.9.9
fonttools==4.56.0
gunicorn==23.0.0
idna==3.10
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pyphen==0.17.2
pystray==0.19.5
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==77.0.3
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.1
urllib3==2.4.0
weasyprint==64.1
webencodings==0.5.1
zopfli==0.2.3.post1
zstandard==0.23.0
